.sou-passeador-btn {
    background: white;
    border: 3px solid var(--primary-blue);
    color: var(--primary-blue);
    cursor: pointer;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 13px;
    transition: .3s;
}

.sou-passeador-btn:hover {
    color: var(--light-blue);
    background-color: var(--primary-blue);
    transform: scale(1.03);
    transition: .2s;
}