.header {
    display: flex;
    background: var(--light-blue);
    position: relative; 
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 50px;
}

.header-container img {
    width: 210px;
    margin-top: 5px;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.header ul .link-header{
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: 500;
}

.header-right li {
    list-style: none;
}

.header-right .header-login {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header-right .header-register {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header-right .header-register-btn {
    background-color: var(--primary-blue);
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
}

.header-logout {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--primary-blue);
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
}

.header-perfil-btn {
    border: none;
    background: none;
}

.header-perfil {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
