.walkersDetails {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.walkersDetails .walker-left {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  margin-right: 70px;
}

.walkersDetails .walker-left h3 {
  font-size: 40px;
  color: var(--primary-blue);
}

.walkersDetails .walker-left .stars {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.walker-left .stars .full-star,
.walker-left .stars .half-star,
.walker-left .stars .empty-star {
  font-size: 30px;
}

.walkersDetails .walker-left p {
  color: var(--primary-blue);
  font-weight: 500;
}

.walkersDetails .walker-left .email-btn {
  color: white;
  background-color: var(--primary-blue);
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.walkersDetails .walker-left .avaliacoes-btn {
  color: white;
  background-color: #82BCCD;
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.walkersDetails .walker-left button:hover {
  transform: scale(1.02);
  transition: .2s;
}

.walkersDetails .walker-right {
  display: flex;
  flex-direction: column;
}

.walkersDetails .walker-right .walker-img{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 7px solid var(--primary-blue);
  margin-bottom: 10px;
}

.walkersDetails .walker-right .walker-location, 
.walkersDetails .walker-right .walker-mail,
.walkersDetails .walker-right .walker-price{
  display: flex;
  color: var(--primary-blue);
  align-items: center;
}
.walkersDetails .walker-right .walker-location p,
.walkersDetails .walker-right .walker-mail p,
.walkersDetails .walker-right .walker-price p  {
  color: #484848;
  margin-left: 8px;
}

.walkersDetails .walker-right svg {
  min-width: 24px;
  font-size: 18px;
}

.walkersDetails .walker-right .gato-img {
  width: 180px;
}