.walkers-top h1 {
    text-align: center;
    color: var(--primary-blue);
    font-size: 40px;
    margin-top: 17px;
}

.walkers-top {
    display: flex;                 
    flex-direction: column;       
    justify-content: center;       
    text-align: left;
}



.walkers-mid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.walkers-mid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dois cards por linha */
    gap: 20px;
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
  }
  

.walkers-bottom {
 display: flex;
}

.walkers-bottom .walkers-left img,
.walkers-bottom .walkers-right img{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    opacity: 0.9;
    z-index: 0;
}
.walkers-bottom .walkers-right img {
    right: 20px; 
    width: 280px    ;
  }