.signup h1 {
    text-align: center;
    padding: 20px;
    color: var(--primary-blue);
}

.signup-container {
    display: flex;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.signup-left img {
    width: 500px;
}

.signup-form {
    width: 400px;
}